*.class
*.log
*.swp

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/project
project/target

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea

# mi-fi specific
public/lib/
sql/bkp/
node_modules
scripts/project/
