<!DOCTYPE html>
<html lang="en" ng-app="mifi">
  <head>
    <link rel="stylesheet" href='@routes.Assets.at("lib/angular-material/angular-material.min.css")'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <link rel="stylesheet" href='@routes.Assets.at("lib/angular-material-data-table/dist/md-data-table.min.css")'>
    <meta name="viewport" content="initial-scale=1" />
  </head>

  <body ng-app="google-chart-example" ng-controller="MainCtrl">
    <div layout="row" layout-wrap>
      <div flex="15">
        <form action="">
          <input type="file" name="csv" id="csv">
          <md-radio-group ng-model="importAccount">
            <label ng-repeat="a in accounts">
              <md-radio-button value="{{a}}">{{a}}</md-radio-button>
            </label>
          </md-radio-group>
          <!--
          <md-button class="md-raised md-primary" ng-click="uploadCSV()">
            <label>Import</label>
          </md-button>
          -->
          <input type="button" name="Import" value="import" ng-click="uploadCSV($event)"/>
        </form>
        <form action="">
          <md-input-container flex>
            <label>Start Date</label>
            <input type="date" ng-model="startDate" ng-click="update()" name="startDate"/>
          </md-input-container>
          <md-input-container flex>
            <label>End Date</label>
            <input type="date" ng-model="endDate"   ng-click="update()" name="endDate"  />
          </md-input-container>
        </form>
        <md-radio-group ng-model="range" ng-click="update()">
          Range:
          <md-radio-button value="yyyy">      Year  </md-radio-button>
          <md-radio-button value="yyyy-mm">   Month </md-radio-button>
          <md-radio-button value="yyyy-mm-dd">Day   </md-radio-button>
        </md-radio-group>
      </div>

      <div flex="65">
        <div>
          <div google-chart chart="seriesChart" style="height:300px; width:100%;"></div>
        </div>
      </div>
      <div flex="20">
        <div google-chart chart="accountChart" ></div>
      </div>

      <div flex="15">
        <form action="">
          Categories:
            <br />
          <md-button class="md-primary" ng-click="selectNoneCategory()">
            <label>Select None</label>
          </md-button>
          <md-button class="md-primary" ng-click="selectAllCategory()">
            <label>Select All</label>
          </md-button>
          @*<input type="button" name="selNoneCat" value="select none" ng-click="selectNoneCategory()"/>*@
          @*<input type="button" name="selAllCat" value="select all" ng-click="selectAllCategory()"/>*@
          <label ng-repeat="c in categories">
            <md-checkbox ng-model="c.selected" ng-change="clickCategory()">
              {{ c.name }}
            </md-checkbox>
          </label>
        </form>
      </div>
      <div flex="65">
        <div>
          <div google-chart chart="catChart" style="height:450px; width:100%;"></div>
        </div>
      </div>
      <div flex="20">
        <div google-chart chart="inCatChart" ></div>
        <div google-chart chart="outCatChart"></div>
      </div>

      <div flex="15">
        <form action="">
          Subcategories:
          <br />
          <input type="button" name="selNoneSubCat" value="select none" ng-click="selectNoneSubCategory()"/>
          <input type="button" name="selAllSubCat" value="select all" ng-click="selectAllSubCategory()"/>
          <label ng-repeat="c in subCategories">
            <md-checkbox ng-model="c.selected" ng-change="clickSubCategory()">
              {{ c.name }}
            </md-checkbox>
          </label>
          <br />
        </form>
      </div>
      <div flex="65">
        <div>
          <div google-chart chart="subCatChart" style="height:450px; width:100%;"></div>
        </div>
      </div>
      <div flex="20">
        <div google-chart chart="inSubCatChart" ></div>
        <div google-chart chart="outSubCatChart"></div>
      </div>

      <md-data-table-container>
        <table md-data-table class="md-primary"  md-progress="deferred">
          <thead md-order="query.order" md-trigger="onorderchange">
            <tr>
              <th name="Account"></th>
              <th name="Date" order-by="transactionDate"></th>
              <th name="Receiver"></th>
              <th name="Purpose"></th>
              <th numeric name="Amount" unit="€"></th>
              <th name="Category"></th>
              <th name="Subcategory"></th>
            </tr>
          </thead>
          <tbody>
            <tr md-auto-select ng-repeat="t in transactions | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit">
              <td>{{t.accountNumber}}</td>
              <td>{{t.transactionDate}}</td>
              <td>{{t.receiver}}</td>
              <td>{{t.purpose}}</td>
              <td show-unit>{{t.amount}}</td>
              <td>
                <md-select ng-model="t.category" placeholder="other">
                  <md-option ng-value="c.name" ng-repeat="c in categories">{{c.name}}</md-option>
                </md-select>
              </td>
              <td>
                <span ng-repeat="c in categories">
                  <span ng-if="c.name === t.category">
                    <md-select ng-model="t.subCategory" placeholder="other" ng-change="updateTransaction(t.id, t.category, t.subCategory)">
                      <md-option ng-value="s.name" ng-repeat="s in c.subCategories">{{s.name}}</md-option>
                    </md-select>
                  </span>
                </span>
              </td>
              <td>
                <md-button class="md-primary">Split</md-button>
              </td>
            </tr>
          </tbody>
        </table>
      </md-data-table-container>

      <md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{transactions.length}}" md-trigger="onpagechange">
      </md-data-table-pagination>

    </div>
  </body>
  <script src='@routes.Assets.at("lib/angular/angular.min.js")' type="text/javascript"></script>
  <script src='@routes.Assets.at("lib/angular-animate/angular-animate.min.js")' type="text/javascript"></script>
  <script src='@routes.Assets.at("lib/angular-aria/angular-aria.min.js")' type="text/javascript"></script>
  <script src='@routes.Assets.at("lib/angular-material/angular-material.min.js")' type="text/javascript"></script>
  <script src='@routes.Assets.at("lib/angular-material-data-table/dist/md-data-table.min.js")' type="text/javascript"></script>
  <script src='@routes.Assets.at("javascripts/lib/ng-google-chart.js")' type="text/javascript"></script>

  <script src='@routes.Assets.at("javascripts/mifi.js")' type="text/javascript"></script>
</html>
